*,
  ::after,
  ::before {
	box-sizing: border-box;
}
button,
  input,
  optgroup,
  select,
  textarea, p {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
html {
	font-family: sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.select:focus,
  input:focus {
	outline: none;
}
.select,
  input {
	padding: .175rem 1rem .175rem .75rem;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.calendar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 60%;
	margin-top: 50px;
}
.table-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
table {
	border-collapse: collapse;
	border: 1px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-size: 0.8rem;
	text-align: center;
	table-layout: fixed;
	width: 100%;
	td {
		width: 100%;
	}
}
td,
  th {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 5px;
	cursor: default;
}
th {
	background-color: rgb(235, 235, 235);
}
.event {
	background: rgb(176, 238, 168);
	&:hover {
		cursor: pointer;
		background: rgb(238, 168, 168);
	}
}
.form-wrapper {
	display: flex;
	margin-top: 50px;
}
.data-form {
	width: 450px;
}
.event-name-wrapper,
  .participants-wrapper,
  .day-wrapper,
  .time-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#name-input,
  #participants-select,
  #day-select,
  #time-select {
	width: 200px;
}
.verdict-buttons {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#btn-event-submit,
  #btn-event-cancel,
  #modal-cancel,
  #modal-confirm {
	width: 100px;
}
#btn-event-submit,
  #modal-confirm {
	margin-left: 30px;
}
.alert {
	background-color: #f8d7da;
	border-color: #f5c2c7;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: opacity .15s linear;
}
.closebtn {
	margin-left: 15px;
	color: #f55a6a;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		color: black;
	}
}
input, select {
	margin-bottom: 5px;
}
#modal {
	width: 500px;
    border: 1px solid #ced4da;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 9999;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	// display: none;
	p {
		margin: 20px 0;
	}
}
